<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>customerreg</servlet-name>
        <servlet-class>customerreg</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>customerlogin</servlet-name>
        <servlet-class>customerlogin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>disreg</servlet-name>
        <servlet-class>disreg</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>dislogin</servlet-name>
        <servlet-class>dislogin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>java</servlet-name>
        <servlet-class>order.java</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>order</servlet-name>
        <servlet-class>order</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>showall</servlet-name>
        <servlet-class>showall</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>kuber</servlet-name>
        <servlet-class>kuber</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SHOWALL</servlet-name>
        <servlet-class>SHOWALL</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SEARCH</servlet-name>
        <servlet-class>SEARCH</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UPDATE</servlet-name>
        <servlet-class>UPDATE</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DELETE</servlet-name>
        <servlet-class>DELETE</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CUSTOMER</servlet-name>
        <servlet-class>C.CUSTOMER</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DISTRIBUTER</servlet-name>
        <servlet-class>DISTRIBUTER</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>payment</servlet-name>
        <servlet-class>payment</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>customerreg</servlet-name>
        <url-pattern>/customerreg</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>customerlogin</servlet-name>
        <url-pattern>/customerlogin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>disreg</servlet-name>
        <url-pattern>/disreg</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>dislogin</servlet-name>
        <url-pattern>/dislogin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>java</servlet-name>
        <url-pattern>/java</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>order</servlet-name>
        <url-pattern>/order</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>showall</servlet-name>
        <url-pattern>/showall</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>kuber</servlet-name>
        <url-pattern>/kuber</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SHOWALL</servlet-name>
        <url-pattern>/SHOWALL</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SEARCH</servlet-name>
        <url-pattern>/SEARCH</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UPDATE</servlet-name>
        <url-pattern>/UPDATE</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DELETE</servlet-name>
        <url-pattern>/DELETE</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CUSTOMER</servlet-name>
        <url-pattern>/CUSTOMER</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DISTRIBUTER</servlet-name>
        <url-pattern>/DISTRIBUTER</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>payment</servlet-name>
        <url-pattern>/payment</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
